<div class="card">
  <div class="card-body">
    <h4 class="card-title">Employee Details</h4>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>firstName</th>
          <th>lastName</th>
          <th>email</th>
          <th>phone</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let emp of employees">
            <td>{{emp._id}}</td>
            <td>{{emp.firstName}}</td>
            <td>{{emp.lastName}}</td>
            <td>{{emp.email}}</td>
            <td>{{emp.phone}}</td>
            <td> <button class="btn btn-danger" (click)="dodelete(emp)">Delete</button>
                <button class="btn btn-primary"(click)="doupdate(emp)">Update</button></td>
          </tr>
      </tbody>
    </table>
  </div>






